@model DepartmentVM
@{
    ViewData["Title"] = "Create Department";
}

<h2 class="container" style="color:slategrey">Departament əlavə et</h2>

<div class="container-fluid" style="margin-top:15px;">
    <form method="post" asp-controller="Department" asp-action="Create" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="col-md-5">
            <div class="form-group">
                <select class="form-control" asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies,"ID","Name"))">
                    <option value="">-Şirkət--</option>
                </select>
                <span asp-validation-for="SelectedCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adı</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Yarat" />
            </div>
        </div>
    </form>
</div>