@model DepartmentVM
@{
    ViewData["Title"] = "Edit";
}


<div class="container-fluid" style="margin-top:15px;">
    <form method="post" asp-controller="Department" asp-action="Edit" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID" />
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Aid olduğu şirkət</label>
                <input class="form-control" disabled asp-for="CompanyName" />
            </div>
            <div class="form-group">
                <label  class="control-label">Adı</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies,"ID","Name"))">
                    <option value="">--Şirkət--</option>
                </select>
                <span asp-validation-for="SelectedCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Yadda saxla" />
            </div>
        </div>
    </form>
</div>