@model WorkPlaceVM
@{
    ViewData["Title"] = "AddWorkPlace";
}
<h2>AddWorkPlace</h2>
<h4>WorkPlaceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWorkPlace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkName" class="control-label"></label>
                <input asp-for="WorkName" class="form-control" />
                <span asp-validation-for="WorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnterDate" class="control-label"></label>
                <input asp-for="EnterDate" class="form-control" />
                <span asp-validation-for="EnterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveReason" class="control-label"></label>
                <input asp-for="LeaveReason" class="form-control" />
                <span asp-validation-for="LeaveReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDate" class="control-label"></label>
                <input asp-for="LeaveDate" class="form-control" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
