@model EmployeeVM
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <form method="post" asp-controller="Employee" asp-action="Edit" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID" />
        <div class="d-flex">
            <div class="col-md-5">
                <div class="col-md-10">
                    <div class="col-md-4">
                        <label asp-for="Name">Ad</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Surname">Soyad</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="Surname" />
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="FatherName">Ata adi</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="FatherName" />
                        <span class="text-danger" asp-validation-for="FatherName"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Birtday">Dogum Tarixi</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="Birtday" />
                        <span class="text-danger" asp-validation-for="Birtday"></span>
                    </div>
                </div>

                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label asp-for="Genders" class="control-label">Cinsi</label>
                    </div>
                    <div class="col-md-10">
                        <input disabled class=" form-control" asp-for="GenderText" />
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label asp-for="Educations">Tehsili</label>
                    </div>

                    <div class="col-md-10">
                        <input class=" form-control" asp-for="EducationText" disabled />
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-6">
                        <label class="control-label" asp-for="Residence">Yasayis Yeri</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="Residence" />
                        <span class="text-danger" asp-validation-for="Residence"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-8">
                        <label class="control-label">Aile Veziyyeti</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="MaritalStatusText" disabled />
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-8">
                        <label class="control-label">Qeydiyyat Unvani</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="DistrictRegistration" />
                        <span class="text-danger" asp-validation-for="DistrictRegistration"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-10">
                        <label class="control-label">Sexsiyyet Vesiqesi</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="PersonalityCardNumber" />
                        <span class="text-danger" asp-validation-for="PersonalityCardNumber"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-10">
                        <label class="control-label">Vesiqenin bitme tarixi</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="date" asp-for="PersonalityCardEndDate" />
                        <span class="text-danger" asp-validation-for="PersonalityCardEndDate"></span>
                    </div>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <div class="col-md-8">
                        <label class="control-label">Kohne Is yeri</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" asp-for="OldWorkPlaces" />
                        <span class="text-danger" asp-validation-for="OldWorkPlaces"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div id="imgPreview">
                        <img src="~/images/@Model.Image" style="display:block; border:1px solid black; height:200px; width:100%; background-image: url(/images/no_photo.jpg); background-size:contain;" id="image">
                    </div>
                    <input style="margin-top:5px;" accept="image/*" asp-for="Photo" type="file" onchange="showImage.call(this)" />
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="col-md-10" style="margin-top:52px;">
                    <select class="form-control" asp-for="SelectedGender" asp-items="@(new SelectList(Model.Genders,"GenderId","GenderName"))">
                        <option value="">--Cinsi daxil et--</option>
                    </select>
                    @*@Html.DropDownListFor(model => model.SelectedGender, new SelectList(Model.Genders, "GenderID", "GenderName"), new { id = "normalDropDown" })*@
                    <span asp-validation-for="Genders" class="text-danger"></span>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <select class="form-control" asp-for="SelectedEducation" asp-items="@(new SelectList(Model.Educations,"EducationId","EducationName"))">
                        <option value="">--Təhisili daxil et--</option>
                    </select>
                    <span asp-validation-for="Educations" class="text-danger"></span>
                </div>
                <div class="col-md-10" style="margin-top:30px;">
                    <select class="form-control" asp-for="SelectedMarital" asp-items="@(new SelectList(Model.Maritals,"MaritalStatusId","MaritalStatusName"))">
                        <option value="">--Ailə vəziiyəti</option>
                    </select>
                    <span asp-validation-for="Maritals" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input style="margin:60px 0 0 20px;" type="submit" value="Yadda saxla" class="btn btn-warning" />
                </div>

            </div>
        </div>

    </form>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("image");
                    image.src = data.target.result;
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>

}