@model IEnumerable<AvialableShop>
@{
    ViewData["Title"] = "ShopSale";
}

<h2>StoreSale</h2>

<div class="container">
    <div style="overflow-x:auto;">
        <div class="d-flex">
            <select class="form-control col-md-2" id="selectFor">
                <option>Select for</option>
                <option value=":nth-child(1)">Name</option>
            </select>
            <div class="form-group col-md-3">
                <input type="search" class="form-control" id="txtSearch" placeholder="Shop name" />
            </div>
            <div class="col-md-7">
                <form asp-controller="Bonus" asp-action="BonusForShop">
                    <div class="d-flex">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="requiredSalary" placeholder="Required amount" />
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Add Bonus" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody id="stSaleAppend">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ShopName</td>
                        <td>@item.SaleSalary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <input type="hidden" class="stSaleSkipcount" id="stSaleTotalCount" value="@ViewBag.SkipCount" />
</div>