@model ShopViewModel
@{
    ViewData["Title"] = "ShopSale";
}


<div class="container">

    <div style="overflow-x:auto;">

        <div class="row d-flex justify-content-center col-md-12">

            <div class="col-md-4">
                <form asp-controller="Shop" asp-action="Create">
                    <div class="form-group  ">
                        <select class="form-control" asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies,"ID","Name"))">
                            <option value="">--Şirkət seç--</option>
                        </select>
                        <span asp-validation-for="SelectedCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Adı</label>
                        <input class="form-control" asp-for="@Model.Name" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Yarat" />
                    </div>
                </form>
            </div>
        </div>

    </div>
        </div>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/index.js"></script>