
@model RoleVM
@{
    ViewData["Title"] = "ChangeRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Rolu dəyiş</h2>

<div class="container">
    <form asp-action="ChangeRole" asp-controller="Worker" method="post">
        <div class="container">
            <div class="text-danger red" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="WorkerId" />
            <div class="d-flex">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Ad</label>
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger red"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">Soyad</label>
                        <input class="form-control" asp-for="Surname" />
                        <span asp-validation-for="Surname" class="text-danger red"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Position" class="control-label">Vəzifə</label>
                        <input class="form-control" asp-for="Position" />
                        <span asp-validation-for="Position" class="text-danger red"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Department" class="control-label">Departament</label>
                        <input class="form-control" asp-for="Department" />
                        <span asp-validation-for="Department" class="text-danger red"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Əvvəlki rol</label>
                        <input class="form-control" asp-for="RoleName" />
                        <span asp-validation-for="RoleName" class="text-danger red"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Yeni rol</label>
                        <select class="form-control" asp-for="SelectedRole" asp-items="@(new SelectList(Model.Roles,"Id","Name"))">
                            <option value="">--Select Role--</option>
                        </select>
                        <span asp-validation-for="SelectedRole" class="text-danger red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Yadda saxla" class="form-control btn-primary center-block" />
            </div>
        </div>
    </form>
</div>