@model WorkerVM
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div>
        <form method="post" asp-action="Edit" asp-controller="Worker">
            <input type="hidden" asp-for="WorkerId" />
            <div class="d-flex">
                <div class="col-md-4">
                    <div class="col-md-10">
                        <div class="form-group" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Name">Ad</label>
                            <input class="form-control" asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Surname">Soyad</label>
                            <input class="form-control" asp-for="Surname" />
                            <span class="text-danger" asp-validation-for="Surname"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Email"></label>
                            <input class="form-control" asp-for="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 d-flex">
                    <div class="col-md-5">
                        <div class="form-group ">
                            <label class="control-label" asp-for="Department">Departament</label>
                            <input class="form-control" asp-for="Department" disabled />
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Position">Vəzifə</label>
                            <input class="form-control" asp-for="Position" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <label asp-for="Departments" class="control-label">Deprtamentlər</label>
                            <select asp-for="SelectedDepartment" class="form-control departments" asp-items="@(new SelectList(Model.Departments,"ID","Name"))">
                                <option value="">--Departamenti seç--</option>
                            </select>
                            @*@Html.DropDownListFor(model => model.SelectedGender, new SelectList(Model.Genders, "GenderID", "GenderName"), new { id = "normalDropDown" })*@
                            <span asp-validation-for="SelectedDepartment" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Position" class="control-label">Vəzifələr</label>
                            <select asp-for="SelectedPosition" class="form-control">
                                <option value="">Vəzifəni seç...</option>
                            </select>
                            <span asp-validation-for="SelectedPosition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input style="margin:10px 0 0 -30px;" type="submit" value="Yadda saxla" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>$(function () {
            $("#normalDropDown").chosen();
        });

          $(document).on("change", ".departments", function () {
            var data = $(".departments").val();
            if (data) {
                $.ajax({
                    url: "/Ajax/LoadPositions",
                    data: { departmentId: data },
                    type: "POST",
                    success: function (res) {
                        $("#SelectedPosition").html(res);
                    }
                });
            }
            else {
                $("#SelectedPosition").html("<option value=''>--Select Position--</option>");
            }
        });</script>
}