@model  PositionVM
@{
    ViewData["Title"] = "AddPosition";
}

<h2>Vəzifə əlavə et</h2>

<div class="container-fluid" style="margin-top:15px;">
    <form method="post" asp-controller="Position" asp-action="Create" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="col-md-5">
            <div class="form-group">
                <select class="form-control" asp-for="SelectedDepartment" asp-items="@(new SelectList(Model.Departments,"ID","Name"))">
                    <option value="">--Departament--</option>
                </select>
                <span asp-validation-for="SelectedDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adı</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Maaşı</label>
                <input class="form-control" asp-for="Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Yarat" />
            </div>
        </div>
    </form>
</div>