@model PositionVM
@{
    ViewData["Title"] = "Edit";
}



<div class="container" style="text-align:center; background-color:bisque; margin-top:15px;">
    <form method="post" asp-controller="Position" asp-action="Edit" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID" />
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Aid olduğu departament</label>
                <input class="form-control" disabled asp-for="DepartmentName" />
            </div>
            <div class="form-group">
                <label class="control-label">Adı</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Maaş</label>
                <input class="form-control" asp-for="Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="SelectedDepartment" asp-items="@(new SelectList(Model.Departments,"ID","Name"))">
                    <option value="">--Departament--</option>
                </select>
                <span asp-validation-for="SelectedDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Yadda saxla" />
            </div>
        </div>
    </form>
    <a asp-action="List" style="color:black; font-size:20px; margin-right:100px;">Back to List</a>

</div>
