@model LoginVM

@{
    ViewData["Title"] = "ForgetPassword";
}
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Şifrəni unutmusuz?</div>
            <div class="card-body">
                <form method="post" asp-action="ForgetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" for="exampleInputEmail1">Elektron Poçt</label>
                        <input asp-for="Email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Mail daxil et">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Yadda saxla">
                </form>
                <div class="text-center ">
                    <a class="d-block small forgot-password" asp-action="Login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
